@keyframes square-animation {
  0% {
    left: 0;
    top: 0;
  }

  10.5% {
    left: 0;
    top: 0;
  }

  12.5% {
    left: 32px;
    top: 0;
  }

  23% {
    left: 32px;
    top: 0;
  }

  25% {
    left: 64px;
    top: 0;
  }

  35.5% {
    left: 64px;
    top: 0;
  }

  37.5% {
    left: 64px;
    top: 32px;
  }

  48% {
    left: 64px;
    top: 32px;
  }

  50% {
    left: 32px;
    top: 32px;
  }

  60.5% {
    left: 32px;
    top: 32px;
  }

  62.5% {
    left: 32px;
    top: 64px;
  }

  73% {
    left: 32px;
    top: 64px;
  }

  75% {
    left: 0;
    top: 64px;
  }

  85.5% {
    left: 0;
    top: 64px;
  }

  87.5% {
    left: 0;
    top: 32px;
  }

  98% {
    left: 0;
    top: 32px;
  }

  100% {
    left: 0;
    top: 0;
  }
}

.loader-overview {
  position: relative;
  width: 96px;
  height: 96px;
  transform: rotate(45deg);
  margin: 5%;
}

.loader-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  margin: 2px;
  border-radius: 0px;
  background: var(--color-blueviolet-100); /* change it to new website color*/
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation: square-animation 10s ease-in-out infinite both;
}

.loader-square:nth-of-type(0) {
  animation-delay: 0s;
}

.loader-square:nth-of-type(1) {
  animation-delay: -1.4285714286s;
}

.loader-square:nth-of-type(2) {
  animation-delay: -2.8571428571s;
}

.loader-square:nth-of-type(3) {
  animation-delay: -4.2857142857s;
}

.loader-square:nth-of-type(4) {
  animation-delay: -5.7142857143s;
}

.loader-square:nth-of-type(5) {
  animation-delay: -7.1428571429s;
}

.loader-square:nth-of-type(6) {
  animation-delay: -8.5714285714s;
}

.loader-square:nth-of-type(7) {
  animation-delay: -10s;
}

.card-activity {
  width: 250px;
  height: 90px;
  background: #262626;
}

.smallIcon-activity {
  width: 100%;
  height: 100%;
  background-color: #ff5858;
}

.smallIcon-activity div {
  background: linear-gradient(
    120deg,
    #e5e5e5 30%,
    #f0f0f0 38%,
    #f0f0f0 40%,
    #e5e5e5 48%
  );
  margin-top: 10px;
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load89234 2s infinite;
  color: #262626;
  font-weight: bold;
  font-size: 15px;
}

.icon-activity {
  margin: 10px;
  width: 70px;
  height: 70px;
  float: left;
  border-radius: 5px;
}

.name-activity {
  width: 90px;
  height: 20px;
  float: left;
  transform: translate(10px, 0px);
  border-radius: 5px;
}

.roles-activity {
  width: 40px;
  height: 20px;
  float: left;
  transform: translate(20px, 0px);
  border-radius: 5px;
}

.descripion-activity {
  margin: 10px;
  width: 140px;
  height: 45px;
  float: left;
  transform: translate(0px, -5px);
  border-radius: 5px;
}

@keyframes load89234 {
  100% {
    background-position: -100% 0;
  }
}

/* .ActivitiesContainer {
  width: 366;
  height: 239;
  padding-left: 30;
  padding-right: 30;
  padding-top: 20;
  padding-bottom: 20;
  background: "white";
  box-shadow: "2px 2px 0px #09072F";
  border-radius: 5;
  overflow: "hidden";
  border-left: "0.50px #09072F solid";
  border-top: "0.50px #09072F solid";
  border-right: "0.50px #09072F solid";
  border-bottom: "0.50px #09072F solid";
  flex-direction: "column";
  justify-content: "center";
  align-items: "flex-start";
  gap: 25;
  display: "inline-flex";
}
.ContainerTitle {
  color: "#09072F";
  font-size: 18;
  font-family: "Poppins";
  font-weight: "600";
  word-wrap: "break-word";
}
.Body {
  width: 306;
  flex-direction: "column";
  justify-content: "flex-start";
  align-items: "flex-start";
  display: "flex";
}
.Frame79{
  border-left: '0.75px #8D37FF solid';
  justify-content: 'flex-start';
  align-items: 'flex-start';
  display: 'inline-flex';
}
.Frame{
  padding: '6.25px';
  background: '#8D37FF';
  border-radius: '12.50px';
  border-left: '0.50px solid';
  border-top: '0.50px solid';
  border-right: '0.50px solid';
  border-bottom: '0.50px solid';
  justify-content: 'center';
  align-items: 'center';
  display: 'flex';
} */
.Item {
  width: -webkit-fill-available;
  /* height: 74px; */
  padding-left: 24px;
  border-left: 1px solid;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
  cursor: pointer;
}
.TimeSep25 {
  color: #8c96a3;
  font-size: 13px;
  font-family: Poppins;
  font-weight: 600;
  text-transform: uppercase;
  word-wrap: break-word;
}
.UpdateABookCardNameChanged {
  color: #4e555f;
  font-size: 14px;
  font-family: Cabin;
  font-weight: 400;
  word-wrap: break-word;
  padding-bottom: 2px;
}

.activities-container-over,
.add-container-over {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: 2px 2px 0px #09072f;
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 300px;

  display: flex;
  padding: 20px 20px;
  align-items: flex-start;
  justify-content: flex-start;
  transition: 0.3s ease;
  flex-direction: column;

}
.activities-container-scroll {
  max-height: 315px;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.Pseudo {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 6px;
  border-left: 0.5px solid #8d37ff;
  border-top: 0.5px solid #8d37ff;
  border-right: 0.5px solid #8d37ff;
  border-bottom: 0.5px solid #8d37ff;
  position: relative;
  min-height: max-content;
  right: 30px;
}
/* 
.Item:hover {
  box-shadow: 1px 1px 0px #09072f;
  border: 1.5px solid var(--color-gray-100);
  border-radius: var(--br-8xs);
} */
