.form-create {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  color: var(--color-blueviolet-100);
  width: -webkit-fill-available;
  border-radius: var(--br-3xs) var(--br-3xs) 0px 0px;
  background-color: var(--color-whitesmoke-200);
  box-shadow: 7.5px 7.5px 0#09072f;
  border: 1px solid var(--color-gray-100);
  flex-shrink: 0;
  object-fit: cover;
  padding: 30px;
}

.input-container {
  border-radius: var(--br-8xs);
  border: 1.5px solid var(--color-slategray);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s ease;
  width: -webkit-fill-available;
  gap: 10px;
}
.input-container-option {
  position: absolute;
  font-size: var(--font-size-sm);
  font-family: var(--font-poppins);
  color: var(--color-slategray);
  padding: 0 var(--padding-xl);
  transition: 0.1s ease;
}
.input:focus + .input-container-option {
  transform: scale(0.75) translateY(-135%);
  color: #8d37ff;
  background: #fff;
  outline: none;
  padding: 0 10px;
}
.input:valid + .input-container-option {
  transform: scale(0.75) translateY(-135%);
  color: #8d37ff;
  background: #fff;
  outline: none;
  padding: 0 10px;
}
.input-container:focus-within {
  border: 1.5px solid var(--color-blueviolet-100);
}
.Create-section {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: var(--padding-31xl) var(--padding-81xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-mini);
  width: 50%;
  margin-left: 30%;
  min-height: 100vh;
  z-index: 1;
}

.sign-button {
  width: -webkit-fill-available;
}
.sign-button.selected {
  display: none;
}

@media screen and (max-width: 920px) {
  .Create-section {
    width: 100%;
  }
}

input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type="number"] {
  -moz-appearance: textfield;
}

.custom-select {
  position: relative;
  width: -webkit-fill-available;
}

.selected-option {
  display: flex;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-xl) var(--padding-3xs) 0;
  cursor: pointer;
  width: -webkit-fill-available;
  border: 1.5px solid var(--color-slategray);
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  justify-content: space-between;
}
.input-dropdown {
  position: unset !important;
}
.selected-option span {
  font-size: 16px;
  color: var(--color-slategray);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: -webkit-fill-available;
  text-transform: capitalize;
}
.input-selected {
  color: var(--color-gray-100);
  text-transform: capitalize;
}
.input-dropdown-title {
  transform: scale(0.75) translateY(-135%);
  color: #8d37ff;
  background: #fff;
  outline: none;
  padding: 0 10px;
}
.options {
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 1;
  width: -webkit-fill-available;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border: 1.5px solid var(--color-slategray);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.16);
  border-radius: var(--br-8xs);
  border-top: none;
}

.option,
.option-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-xl);
  cursor: pointer;
}
.option-title {
  color: var(--color-slategray);
  background: var(--color-whitesmoke-100);
}
.option:hover {
  background-color: #f2f2f2;
}

.show {
  display: flex !important;
}
.unshow {
  display: none !important;
}

.hero-image-icon {
  position: relative;
  border-radius: var(--br-11xl) var(--br-11xl) var(--br-mini) var(--br-11xl);
  box-shadow: 7.5px 7.5px 0#09072f;
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 35%;
  flex-shrink: 0;
  object-fit: cover;
}
.buttons {
  justify-content: center;
  width: -webkit-fill-available;
  gap: var(--gap-xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.wrong-info {
  font-size: 12px;
  color: red;
  margin-top: -10px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

textarea:focus + .input-container-option {
  transform: scale(0.75) translateY(-135%);
  color: #8d37ff;
  background: #fff;
  outline: none;
  padding: 0 10px;
}
textarea:valid + .input-container-option {
  transform: scale(0.75) translateY(-135%);
  color: #8d37ff;
  background: #fff;
  outline: none;
  padding: 0 10px;
}
textarea-container:focus-within {
  border: 1.5px solid var(--color-blueviolet-100);
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-self: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--gap-31xl);
}
