
.for-btn{
    padding-right: 5%;
    
}

.btn-primary {
    background-color: #8D37FF !important;
    border-radius:20px !important;
    border-width: 0px   !important;
}

.for-brand{
    padding-left: 5%;
    padding-right: 20%;
}

.for-item{
   margin-left: 20%; 
   color:#8A8A8A ;
}
.for-item:hover{
    color:#8D37FF ; 
}

.navbar-nav .nav-link{
    color:#8A8A8A ;
}
.navbar-nav .nav-link:hover{
    color:#8D37FF ; 
}
.navbar-nav .nav-link.active{
    color:#8D37FF ;  
}

.NavLink:active{
    color: #8D37FF;
}