.ride-card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  border: 1.5px solid #09072f;
  box-shadow: 4px 4px 0px #09072f;
  border-radius: 5px;
  min-width: 320px;
}
.ride-card-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: 15px 20px;
  gap: 26px;
}
.ride-card-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12.5px;
}
.ride-card-avatar {
  width: 45px;
  height: 45px;
  color: var(-color-blueviolet-100);
}
.ride-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.ride-card-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #09072f;
}
.ride-card-address {
  font-weight: 400;
  font-size: 9.5px;
  line-height: 14px;
  color: #8d37ff;
}
.ride-card-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 5px;
}
.ride-card-date {
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  color: #9747ff;
}
.ride-card-room {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  gap: 5px;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  background: #e2e4e6;
  color: #09072f;
}
.ride-card-inroom{
  background: white;
  font-weight: 600;
  font-size: 10px;
  line-height: 20px;
  color: #09072f;
  padding: 0 10px;
 border-radius: 2px;
}
