h2 {
  color: #313131;
}

h6 {
  color: greenyellow;
}

hr.line {
  border: 1px solid #313131;
  width: 175px;
}

.messages-container {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
}

.lobby {
  width: 400px;
  margin: auto;
}

.chat {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  background-color: white;
  border: 1px solid var(--color-gray-100);
  border-radius: var(--br-4xs);
  box-shadow: 4px 4px 0#09072f;
}
.no-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: -webkit-fill-available;
  justify-content: center;
  gap: 12.5px;
}
.no-chat-img {
  max-width: 200px;
  height: auto;
}
.no-chat-texts {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.no-chat-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: var(--color-gray-100);
}
.no-chat-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--color-slategray);
}
.no-chat-img {
  max-width: 200px;
  height: auto;
}
.leave-room {
  text-align: right;
  margin-bottom: 4px;
}

.user-list {
  background-color: white;
  border: 1px solid var(--color-gray-100);
  border-radius: var(--br-4xs);
  box-shadow: 4px 4px 0#09072f;
  min-width: 305px;
  min-height: 400px;
}

.user-list-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xl) var(--padding-11xl);
}

.message-container {
  height: 400px;
  background-color: white;
  overflow: auto;
  border-radius: 5px;
  margin-bottom: 2px;
}
.messages-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-gray-100);
}
.messages-icons {
  display: flex;
  align-items: center;
  gap: var(--gap-8xs);
}
.not-my-message {
  text-align: right;
  padding: 8px 16px;
  font-size: 18px;
  color: var(--color-gray-100);
  background-color: #e8e8ec;
  border-radius: 1.125rem 1.125rem 0 1.125rem;
  margin: 8px 16px;
  box-sizing: border-box;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.075),
    0 16px 16px -16px rgba(0, 0, 0, 0.1);
  max-width: 60%;
  word-break: break-word;
}
.not-my-message-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.users-list {
  display: flex;
  align-items: flex-start;
  width: -webkit-fill-available;
  padding: 20px 10px;
  gap: 5px;
}
.conversation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  border-radius: 7.5px;
  transition: 0.2s ease;
  width: -webkit-fill-available;
}
.conversation:hover {
  background-color: #eff1f6;
}
.conversation-selected {
  background-color: #eff1f6 !important;
}
.conversation-user-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
}
.conversation-user-avatar {
  width: 35px;
  height: 35px;
}
.conversation-user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.conversation-user-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-gray-100);
}
.conversation-user-lastmessage {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  color: var(--color-slategray);
  max-width: 150px;
}
.conversation-user-lastmessage-time {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: var(--color-blueviolet-100);
}
.send-message-form {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: -webkit-fill-available;
  justify-content: space-between;
  gap: 15px;
}
.send-input-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: -webkit-fill-available;
  align-items: center;
  padding: 10px 15px;
  border-radius: 6px;
  background: #e8e8ec;
}
.send-input {
  font-size: 16px;
  border: 0;
  color: var(--color-gray-100);
  background: transparent;
  padding: var(--padding-3xs);
}
.send-input::placeholder {
  color: var(--color-gray-100);
}
.send-attachment-icon {
  width: auto;
  height: 20px;
  color: var(--color-blueviolet-100);
}
.send-message-button {
  background: #e8e8ec;
  padding: 13.75px;
  cursor: pointer;
  border: 0;
  border-radius: 100%;
}
.send-message-icon {
  width: auto;
  height: 20px;
  color: var(--color-blueviolet-100);
}
.my-message {
  text-align: left;
  padding: 8px 16px;
  font-size: 18px;
  color: white;
  background-color: var(--color-gray-100);
  border-radius: 1.125rem 1.125rem 0 1.125rem;
  margin: 8px 16px;
  box-sizing: border-box;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.075),
    0 16px 16px -16px rgba(0, 0, 0, 0.1);
  max-width: 60%;
  word-break: break-word;
}
.my-message-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.message {
  display: inline-flex;
  margin: 0px auto 0px auto;
  padding: 5px;
  font-size: 18px;
  /*color: white;*/
  border-radius: 20px;
  margin-top: 3px;
}

.created-on {
  /*display: none;*/
  color: var(--color-blueviolet-100);
  font-size: small;
  margin-bottom: 3px;
  margin-right: 5px;
}
/*
.my-message:hover .created-on,
.not-my-message:hover .created-on {
  display: block;
}*/

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.flex-items {
  display: flex;
}

.back-btn {
  position: absolute;
  padding-left: 12%;
}

.trash-menu {
  background: var(--color-blueviolet-100) !important;
  color: white !important;
}
.trash-list-green{
  background:#12C36D !important;
  color: white !important;
  border-radius: 50%!important;
}
.trash-list-red{
  background:#FF3939 !important;
  color: white !important;
  border-radius: 50%!important;
}

