.SignUp-section {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  padding: var(--padding-31xl) var(--padding-81xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-mini);
  width: 50%;
  min-height: 100vh;
}
.sign-up {
  position: relative;
  background: radial-gradient(50% 50% at 50% 50%, #8d37ff, #9e57fb);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-gray-100);
  font-family: var(--font-poppins);
}
.accept-policy {
  font-size: 14px;
  color: var(--color-gray-100);
}
.accept-policy a {
  color: var(--color-blueviolet-100);
  transition: 0.3s ease;
}
.accept-policy a:hover {
  color: #9e57fb;
}
@media screen and (max-width: 920px) {
  .SignUp-section {
    width: 100%;
    padding: var(--padding-31xl);
  }
}
@media screen and (max-width: 400px) {
  .SignUp-section {
    width: 100%;
    padding: var(--padding-6xl);
  }
}
@media screen and (max-width: 350px) {
  .SignUp-section {
    width: 100%;
    padding: var(--padding-6xl) var(--padding-mini);
  }
}