/*view*/




.book-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.book-main-info-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.book-main-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: -webkit-fill-available;
  gap: 10px;
}
.book-additional-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-book-name, .price-field {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  text-transform: capitalize;
  color: #09072F;
}

.description-book-view {
  font-weight: 400;
  font-size: 13.5px;
  text-transform: capitalize;
  color: #5f6366;
  max-width: 350px;
  line-height: 17px;
}

.condition-book-view{
  display: flex;
}

.book-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.book-image {
  width: 200px;
  height: 250px;
}
.book-owner {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs-5);
}
.book-owner-icon {
  width: 22.5px;
  height: auto;
}
.book-owner-name {
  font-size: 12px;
  font-weight: 500;
}