.success {
    min-width: -webkit-fill-available;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.success-icon {
    width: 100px;
    height: auto;
    padding: 50px;
    border-radius: 100%;
    color: var(--color-blueviolet-100);
    background-color: rgb(141 55 255 / 25%);
}
.success-message {
    font-family: var(--font-poppins);
    font-size: 24px;
    color: var(--color-blueviolet-100);
}


