.SignIn-section {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  padding: var(--padding-31xl) var(--padding-81xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-mini);
  width: 50%;
  min-height: 100vh;

}
.sign-in {
  position: relative;
  background: radial-gradient(50% 50% at 50% 50%, #8d37ff, #9e57fb);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-gray-100);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 920px) {
  .container {
    display: none;
  }
  .SignIn-section {
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .SignIn-section {
    padding: var(--padding-31xl);
  }
}