.dashboard-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  opacity: 1;
}
.opacity {
  opacity: 0.2;
  z-index: -1;
}
.dashboard {
  padding: var(--padding-31xl);
  background-color: var(--color-whitesmoke-200);
  color: var(--color-gray-100);
  font-family: var(--font-poppins);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-31xl);
  min-height: 89vh;
  width: -webkit-fill-available;
}
.dashboard-navbar {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.left-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.menu-collapse-icon {
  color: var(--color-gray-100);
  width: 30px;
  height: auto;
}
.collapse {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
}
.phone-collapse {
  display: none;
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
}
.dash-menu-close {
  display: none;
}
.welcome-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-mini);
}
.welcome-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.welcome-text {
  font-size: 20px;
  color: var(--color-gray-100);
  font-weight: 600;
}
.welcome-description {
  font-size: 12px;
  color: var(--color-slategray);
  max-width: 350px;
}
.btn-icon {
  border-radius: var(--br-8xs);
  height: 30px;
  padding: var(--padding-3xs);
  background-color: var(--color-white);
  color: var(--color-gray-100);
}
.btn-icon-active {
  background-color: var(--color-blueviolet-100);
  color: var(--color-white);
}
.right-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-6xl);
  font-size: var(--font-size-base);
}
.tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}

.profile-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.avatar-icon {
  height: 50px;
  width: auto;
  color: var(--color-gray-100);
}
.username {
  color: var(--color-gray-100);
  font-size: 18px;
  font-weight: 600;
}
.role {
  color: var(--color-blueviolet-100);
  font-size: 14px;
  font-weight: 400;
}

.info-container {
  font-size: var(--font-size-smi);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-31xl);
  align-items: flex-start;
  flex-wrap: wrap;
  align-self: stretch;
}
.stats-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  color: var(--color-darkslategray-100);
}
.stats {
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: 2px 2px 0px #09072f;
  border: 1.5px solid var(--color-gray-100);
  width: 258px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-mini) var(--padding-xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xl);
  transition: 0.3s ease;
}
.stats:hover {
  box-shadow: 3px 3px 0px #09072f;
}
.stats-icon-background {
  display: flex;
  padding: 12.5px;
  border-radius: 100%;
  background-color: rgb(141 55 255 / 25%);
  color: var(--color-blueviolet-100);
}
.stats-icon {
  color: var(--color-blueviolet-100);
  width: 30px;
  height: auto;
}
.stats-title {
  color: var(--color-gray-100);
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}
.stats-number {
  color: var(--color-blueviolet-100);
  font-size: 24px;
  font-weight: 600;
}
.activities-container,
.add-container {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: 2px 2px 0px #09072f;
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 300px;
  min-height: 315px;
  display: flex;
  padding: var(--padding-xl) var(--padding-11xl);
  align-items: flex-start;
  justify-content: flex-start;
  transition: 0.3s ease;
}
.activities-container:hover,
.add-container:hover {
  box-shadow: 3px 3px 0px #09072f;
}
.activities-title {
  color: var(--color-gray-100);
  font-size: 18px;
  font-weight: 600;
}
.add-container {
  flex-direction: column;
  padding: var(--padding-mini) var(--padding-xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-mini);
  text-align: center;
  font-size: var(--font-size-5xl);
}
.add-icon {
  color: var(--color-white);
  background-color: var(--color-blueviolet-100);
  padding: 15px;
  width: 35px;
  height: auto;
}
.add-title {
  color: var(--color-gray-100);
  font-size: 22px;
  font-weight: 600;
}
.service-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.services-head {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-mini);
}
.services-head-title {
  font-size: 30px;
  font-weight: 600;
}
.type {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-poppins);
  color: var(--color-slategray);
  text-align: left;
}
.filterbox {
  cursor: pointer;
  border: 1px solid var(--color-slategray);
  padding: var(--padding-5xs-5) var(--padding-xl);
  background-color: var(--color-white);
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-18xl-5);
}
.filterboxs {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.cards {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-self: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--gap-31xl);
}
.card {
  border-radius: var(--br-3xs) var(--br-3xs) var(--br-8xs) var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 3px 3px 0px #09072f;
  border: 1.5px solid var(--color-gray-100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: 0.3s ease;
}
.card:hover {
  box-shadow: 5px 5px 0px #09072f;
}
.card-picture {
  border-radius: var(--br-3xs) var(--br-3xs) 0px 0px;
  background-color: var(--color-whitesmoke-300);
  width: 300px;
  height: 300px;
}
.card-info {
  background-color: var(--color-whitesmoke-200);
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-mini) var(--padding-xl);
  align-items: center;
  justify-content: space-between;
}
.card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.card-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}
.card-description {
  font-size: 10px;
  color: var(--color-dimgray);
  max-width: 150px;
}

@media screen and (max-width: 960px) {
  .dashboard {
    padding: var(--padding-6xl);
  }
  .welcome-info {
    display: none;
  }
  .btn-icon {
    height: 25px;
    padding: var(--padding-5xs-5);
    box-shadow: 3px 3px 0 #09072f;
  }
  .avatar-icon {
    height: 35px;
  }
  .arrow-down {
    width: 25px;
    height: 25px;
  }
}
@media screen and (max-width: 720px) {
  .dash-menu {
    position: fixed;
    z-index: 9;
  }
  .collapse {
    display: none;
  }
  .phone-collapse {
    display: flex;
  }
  .dash-menu-close {
    display: flex;
  }
}

@media screen and (max-width: 650px) {
  .user-info {
    display: none;
  }
  .right-navbar {
    gap: var(--gap-mini);
  }
  .profile-info {
    gap: var(--gap-5xs-5);
  }
}
@media screen and (max-width: 480px) {
  .dash-menu {
    width: -webkit-fill-available;
  }
}
/* SEARCH */

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-search {
  border-style: none;
  width: 50px;
  outline: none;
  transition: 0.5s ease-in-out;
  box-shadow: 0px 0px 3px #f3f3f3;
  padding-right: 40px;
  /**/
  border-radius: var(--br-8xs);
  height: 30px;
  padding: var(--padding-3xs);
  background-color: var(--color-white);
  color: var(--color-gray-100);
}

.input-search::placeholder,
.input-search {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 17px;
}

.icon {
  position: relative;
}

.input-search:focus {
  box-shadow: none;
  width: 250px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 3px solid #7e4fd4;
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
