/*view*/

.form-create-view {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  color: var(--color-blueviolet-100);
  border-radius: var(--br-3xs) var(--br-3xs) 5px var(--br-3xs);
  background-color: var(--color-whitesmoke-200);
  box-shadow: 7.5px 7.5px 0#09072f;
  border: 1px solid var(--color-gray-100);
  flex-shrink: 0;
  object-fit: cover;
  padding: 30px;
}

.section-view {
  border-radius: var(--br-3xs) var(--br-3xs);
  background-color: var(--color-whitesmoke-200);
  font-size: 16px;
  font-weight: 600;
  color: var(--color-gray-100);
  font-family: var(--font-poppins);
  margin: 5px;
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  gap: 25px;
}
.tool-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.tool-main-info-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.tool-main-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: -webkit-fill-available;
  gap: 10px;
}
.tool-additional-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-tool-name, .price-field {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  text-transform: capitalize;
  color: #09072F;
}

.description-tool-view {
  font-weight: 400;
  font-size: 13.5px;
  text-transform: capitalize;
  color: #5f6366;
  max-width: 350px;
  line-height: 17px;
}

.condition-tool-view{
  display: flex;
}

.tool-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.tool-image {
  width: 200px;
  height: 250px;
}
.tool-owner {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs-5);
}
.tool-owner-icon {
  width: 22.5px;
  height: auto;
}
.tool-owner-name {
  font-size: 12px;
  font-weight: 500;
}