@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-cabin: Cabin;
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-lg: 18px;
  --font-size-31xl: 50px;
  --font-size-mid: 17px;
  --font-size-29xl: 48px;

  /* Colors */
  --color-white: #fff;
  --color-darkslategray: #3c4859;
  --color-slategray: #697383;
  --color-gray-100: #09072f;
  --color-blueviolet-100: #8d37ff;
  --color-blueviolet-200: rgba(141, 55, 255, 0.01);
  --color-whitesmoke-100: #f7f7f7;
  --color-whitesmoke-200: rgba(247, 247, 247, 0.5);

  /* Gaps */
  --gap-18xl-5: 37.5px;
  --gap-mini: 15px;
  --gap-11xl: 30px;
  --gap-6xl: 25px;
  --gap-5xs-5: 7.5px;
  --gap-31xl: 50px;
  --gap-xl: 20px;
  --gap-8xs: 5px;
  --gap-3xs: 10px;

  /* Paddings */
  --padding-31xl: 50px;
  --padding-81xl: 100px;
  --padding-8xs: 5px;
  --padding-3xs: 10px;
  --padding-mini: 15px;
  --padding-11xl: 30px;
  --padding-6xl: 25px;
  --padding-16xl: 35px;
  --padding-51xl: 70px;
  --padding-26xl: 45px;
  --padding-xl: 20px;
  --padding-5xs-5: 7.5px;

  /* border radiuses */
  --br-4xs: 9px;
  --br-xl: 20px;
  --br-mini: 15px;
  --br-81xl: 100px;
  --br-11xl: 30px;
  --br-3xs: 10px;
  --br-25xl: 44px;
  --br-8xs: 5px;
}

/* text sizes */

h1 {
  font-size: 50px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}

/* buttons */
.btns {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-self: stretch;
  padding: 0 20px;
  gap: 10px;
}
.btn {
  cursor: pointer;
  border: 1px solid var(--color-gray-100);
  padding: var(--padding-3xs) var(--padding-11xl);
  border-radius: var(--br-4xs);
  box-shadow: 4px 4px 0#09072f;
  text-transform: capitalize;
  font-family: var(--font-poppins);
  font-size: var(--font-size-base);
  font-weight: 500;
  transition: 300ms ease;
  display: flex;
  align-items: center;
  gap: var(--gap-8xs);
  position: relative;
  width: max-content;
  justify-content: center;
}
.btn-fill {
  flex: 1;
}
.arrow-right-icon {
  display: none;
}
.btn:hover {
  box-shadow: 6px 6px 0#09072f;
}
.btn-primary {
  background-color: var(--color-blueviolet-100) !important;
  color: white !important;
}
.btn-primary:hover {
  background-color: #9747ff;
}
.btn-secondary {
  background-color: var(--color-whitesmoke-100);
  color: var(--color-gray-100);
}
.btn-secondary:hover {
  background-color: #fff;
}
.sign,
.reset {
  width: -webkit-fill-available;
  justify-content: center;
}
.btn-small {
  font-size: 13px;
  box-shadow: 2px 2px 0#09072f;
  padding: var(--padding-8xs) var(--padding-mini);
  color: var(--color-white);
  background-color: var(--color-blueviolet-100);
}
.btn-small:hover {
  box-shadow: 3px 3px 0#09072f;
}
.small-btn-icon {
  height: 12.5px !important;
  padding: var(--padding-5xs-5) !important;
  box-shadow: 2px 2px 0#09072f !important;
  transition: 0.3s ease;
}
.small-btn-icon:hover {
  box-shadow: 3px 3px 0#09072f !important;
}

/* button */
.button {
  border: 0;
  padding: 7.5px 30px;
  border-radius: 50px;
  transition: 300ms ease;
  display: flex;
  align-items: center;
  gap: var(--gap-8xs);
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-blueviolet-100);
  background: white;
}
.button:hover {
  box-shadow: 3px 3px 0#09072f;
}

/* sign button */
.sign-button {
  width: -webkit-fill-available;
}
.sign-button.selected {
  display: none;
}
/* lines styles */
.horizontal-line {
  display: flex;
  align-self: stretch;
  width: 1px;
  background-color: #e3e3e3;
}
.vertical-line {
  display: flex;
  align-items: stretch;
  height: 1px;
  background-color: #e3e3e3;
  width: -webkit-fill-available;
}
/* disabled styles */
.disabled {
  cursor: not-allowed !important;
}
/* hidden item */
.hidden {
  display: none !important;
}
/* header background */

/* rotate */
.rotate {
  transform: rotate(180deg);
}
.rotate-90 {
  transform: rotate(270deg);
}
.arrow-small {
  width: 25px !important;
  height: 25px;
  height: 25px;
}

/* scrollbar */

::-webkit-scrollbar {
  height: 8px;
  width: 10px;
  background: var(--color-gray-100);
}
::-webkit-scrollbar-thumb {
  background: var(--color-blueviolet-100);
  border-radius: 10px;
}
::selection {
  background: var(--color-gray-100);
  color: #ffffff;
}

/* text line & link */

a,
a:hover,
a:visited,
a:active,
a:link {
  text-decoration: none;
  color: inherit;
}

/* link text */
.link {
  position: relative;
  font-weight: 500;
  color: var(--color-blueviolet-100) !important;
  transition: 0.1s ease;
}
.link:hover {
  color: #6400e6 !important;
}

/* textarea */
textarea {
  font-family: var(--font-poppins);
  font-size: 14px;
  color: var(--color-gray-100);
  min-height: 100px;
  padding: var(--padding-3xs) var(--padding-xl);
  resize: none;
  overflow: auto;
}
textarea::-webkit-scrollbar {
  background: none;
}
.textarea-input {
  align-items: flex-start !important;
  border: none !important;
}
.textarea-input:focus-visible {
  outline: none;
}
textarea:focus-visible {
  outline: none;
}
.textarea-input-placeholder {
  margin-top: 12.5px;
}
textarea:focus + .input-container-option {
  transform: scale(0.75) translateY(-135%);
  color: #8d37ff;
  background: #fff;
  outline: none;
  padding: 0 10px;
}
textarea:valid + .input-container-option {
  transform: scale(0.75) translateY(-135%);
  color: #8d37ff;
  background: #fff;
  outline: none;
  padding: 0 10px;
}
.textarea-container:focus-within {
  border: 1.5px solid var(--color-blueviolet-100);
}
textarea:focus-within {
  border: none;
}
/* small icon */
.small-icon {
  width: 25px !important;
  height: 25px !important;
}

/* loader */
@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: transparent;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin89345 1s linear infinite;
}

/* signup and signin */
/* checking account */
.account-question {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 500;
  text-align: center;
  color: var(--color-slategray);
}

/* logo */
.logo {
  height: 35px;
}

/* arrows */
.arrow {
  width: 25px;
  height: auto;
}

/* nav */
.top-nav {
  position: fixed;
  padding: 30px;
  top: 0;
  align-items: center;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right-child {
  width: 350px;
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50%;
  height: 100vh;
}

.span {
  color: var(--color-blueviolet-100);
}

.section-title {
  text-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  font-weight: 600;
  font-size: 36px;
}

/* form */
/*form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
*/
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  color: var(--color-blueviolet-100);
  width: -webkit-fill-available;
}
.form-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  padding: 0 30px;
  width: -webkit-fill-available;
}

/* form: step progress */
.steps-container {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* gap: 10px;
  padding: 15px 0; */
  margin-bottom: 20px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: var(--color-gray-100);
  border-radius: 100%;
  border: 2px solid var(--color-blueviolet-100);
}

.step-active {
  background-color: var(--color-blueviolet-100);
  color: white;
}

.step-completed {
  background-color: #12c36d;
  color: white;
  border: 2px solid #12c36d;
}

.step-line {
  background-color: var(--color-blueviolet-100);
  height: 2px;
  width: -webkit-fill-available;
}

.step-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  padding: 6.25px;
}

.step-icon {
  height: 17.5px;
  width: auto;
}

.step-title {
  position: absolute;
  transform: translate(0px, 45px);
  font-weight: 500;
  font-size: 12.5px;
  line-height: 15px;
  text-transform: capitalize;
  font-family: var(--font-poppins);
}

.step-active .step-icon {
  color: white;
}

.step-active .step-title {
  color: var(--color-blueviolet-100);
}

.step-completed .step-icon {
  color: white;
}

.step-completed .step-title {
  color: #12c36d;
}

/* Input Styles */

.input-container {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--br-8xs);
  border: 1.5px solid var(--color-slategray);
  box-sizing: border-box;
  transition: 0.3s ease;
  gap: 10px;
}

.input-container-option {
  position: absolute;
  padding: 0 var(--padding-xl);
  font-size: var(--font-size-sm);
  font-family: var(--font-poppins);
  color: var(--color-slategray);
  transition: 0.1s ease;
}

input {
  width: 100%;
  font-size: 16px;
  font-family: var(--font-poppins);
  border: none;
  padding: var(--padding-3xs) 0 var(--padding-3xs) var(--padding-xl);
  color: var(--color-gray-100);
}

input:focus-visible {
  outline: none;
}

/*
input:valid + .input-container-option {
  transform: scale(0.75) translateY(-135%);
  color: #8d37ff;
  background: #fff;
  outline: none;
  padding: 0 10px;
}*/

input:focus-visible + .input-container-option {
  transform: scale(0.75) translateY(-135%);
  color: #8d37ff;
  background: #fff;
  outline: none;
  padding: 0 10px;
}
input:valid + .input-container-option {
  transform: scale(0.75) translateY(-135%);
  color: #8d37ff;
  background: #fff;
  outline: none;
  padding: 0 10px;
}
input:-webkit-autofill {
  -webkit-box-shadow: white;
}

.input-container:focus-within {
  border: 1.5px solid var(--color-blueviolet-100);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input#phone-number {
  padding: var(--padding-3xs) var(--padding-xl);
}

.input-group {
  width: -webkit-fill-available;
  min-width: 200px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 15px;
}

.input-container-group {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

/* Media Queries */

@media screen and (max-width: 1280px) {
  .input-group {
    flex-wrap: wrap;
  }
  .input-container-group {
    width: -webkit-fill-available;
  }
}

/* Selected Option Styles */
.custom-select {
  width: -webkit-fill-available;
  position: relative;
}

.selected-option {
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-xl) var(--padding-3xs) 0;
  cursor: pointer;
  border: 1.5px solid var(--color-slategray);
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  justify-content: space-between;
}

.input-dropdown {
  position: unset !important;
  margin-top: 0 !important;
}

.selected-option span {
  width: -webkit-fill-available;
  font-size: 16px;
  color: var(--color-slategray);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}

.input-selected {
  color: var(--color-gray-100);
  text-transform: capitalize;
}

.input-dropdown-title {
  padding: 0 10px;
  transform: scale(0.75) translateY(-135%);
  color: #8d37ff;
  background: #fff;
  outline: none;
  margin-top: 0 !important;
}

.options {
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 1;
  width: -webkit-fill-available;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border: 1.5px solid var(--color-slategray);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.16);
  border-radius: var(--br-8xs);
  border-top: none;
}

.option,
.option-title {
  padding: var(--padding-3xs) var(--padding-xl);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  font-family: var(--font-poppins);
}

.option-title {
  background: var(--color-whitesmoke-100);
  color: var(--color-slategray);
}

.option:hover {
  background-color: #f2f2f2;
}

/* Input Suffixes */

.UnivSuffix,
.CurrencySuffix {
  font-size: 16px;
  padding: var(--padding-3xs) var(--padding-xl) var(--padding-3xs) 0;
}

.PhoneSuffix {
  font-size: 16px;
}

/* Password Input Eye */

.eye-wrapper {
  padding: var(--padding-3xs) var(--padding-xl) var(--padding-3xs) 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: flex;
  color: var(--color-blueviolet-100);
  transition: 0.3s ease;
}

.eye-wrapper:hover {
  color: #6400e6;
}

/* Error and Success Messages */

.wrong-info,
.success-info {
  margin-top: -10px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.wrong-info {
  font-size: 12px;
  color: red;
}

.success-info {
  font-size: 20px;
  color: rgb(0, 255, 115);
}

/* Choices */

.choices {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--color-darkslategray);
  flex-wrap: wrap;
  gap: 15px;
}

/* Checkbox */

.checking {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.checkbox {
  min-width: 20px;
  height: 20px;
  border: 1.5px solid var(--color-slategray);
  border-radius: 3px;
  text-align: center;
  transition: 0.3ms;
}

.true {
  background-color: var(--color-blueviolet-100);
  border: 1.5px solid white;
  color: white;
}

.remember-me {
  position: relative;
  font-weight: 500;
}

.create-section {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: var(--padding-31xl) var(--padding-81xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-mini);
  width: 50%;
  margin-left: 30%;
  min-height: 100vh;
  z-index: 1;
}

.container-load-form {
  width: 80px;
  height: 100px;
  position: fixed;
}

.block-load-form {
  position: relative;
  box-sizing: border-box;
  float: left;
  margin: 0 10px 10px 0;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  background: var(--color-blueviolet-100);
}

.form-create {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  color: var(--color-blueviolet-100);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 7.5px 7.5px 0#09072f;
  border: 1px solid var(--color-gray-100);
  flex-shrink: 0;
  object-fit: cover;
  padding: 30px 0;
  max-width: 575px;
  width: -webkit-fill-available;
}

.form-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  font-family: var(--font-poppins);
  font-weight: 600;
  font-size: 27.5px;
  line-height: 45px;
  text-transform: capitalize;
  color: var(--color-gray-100);
}

.form-title-sw {
  color: var(--color-blueviolet-100);
  /* margin-left: 7.5px; */
}

.form-note {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: #697383;
  flex-wrap: wrap;
  gap: var(--gap-mini);
  font-family: var(--font-poppins);
  text-align: left;
}

.form-paragraph {
  display: inline-block;
  text-align: left;
  font-size: 13px;
  color: var(--color-gray-100);
  font-family: var(--font-poppins);
  font-weight: 300;
  text-transform: none;
}

.form-title-paragraph {
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--padding-8xs);
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-blueviolet-100);
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
}

.buttons {
  justify-content: center;
  width: -webkit-fill-available;
  gap: var(--gap-xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}

.wrong-info {
  font-size: 12px;
  color: red;
  margin-top: -10px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.form-label-chechbox {
  position: relative;
  font-weight: 500;
}
.form-checking {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  /*display: -webkit-inline-box;
      -webkit-box-align: center;
      gap: 10px;*/
}
.form-checkbox {
  width: 20px;
  height: 21px;
  border: 1.5px solid var(--color-slategray);
  border-radius: 3px;
  text-align: center;
  transition: 0.3ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-and-title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  padding: 0px;
  gap: 7.5px;
  font-family: var(--font-poppins);
}

.input-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #8d37ff;
}

.input-select-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  align-self: stretch;
}
.input-select-group-label {
  width: -webkit-fill-available;
}
.input-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  width: -webkit-fill-available;
  background-color: var(--color-white);
  padding: 20px 0px;
  gap: 10px;
  border: 1.25px solid #697383;
  border-radius: 5px;
  transition: 0.3s ease;
  position: relative;
}

.input-select:hover,
.input-selected-group {
  background-color: var(--color-whitesmoke-100);
  border: 1.25px solid var(--color-blueviolet-100);
}

.input-select-icon {
  width: auto;
  height: 40px;
}

.input-select-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #09072f;
}

.input-selected-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: auto;
  background: var(--color-blueviolet-100);
  color: white;
  border-radius: 100%;
}

.show {
  display: flex !important;
}

.unshow {
  display: none !important;
}
